.rock-business-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    font-family: Arial, sans-serif;

}

.left-content-container-publicity {
    background-color: #1a1a1a;
    color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-content-container-publicity {
    position: relative;
    overflow: hidden;
}

.image-container-publicity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/agarrandoburguer.jpg');
    background-size: cover;
    background-position: center;
}

.overlay-container-publicity {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

.right-content-container-publicity:hover .overlay-container-publicity {
    transform: translateY(0);

}

.h1-container-publicity {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.overlay-container-publicity h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #ffd700;
}

.left-content-container-publicity h3 {
    color: #ffd700;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.left-content-container-publicity p {
    margin-bottom: 2rem;
    line-height: 1.6;
}

.reserve-button-container-publicity {
    position: relative;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #ffd700;
    /* Texto siempre visible con color amarillo */
    border: 2px solid #ffd700;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.3s ease;
    font-weight: bold;
    text-transform: capitalize;

}

.reserve-button-container-publicity span {
    position: relative;
    z-index: 1;
    /* El texto siempre por encima del líquido */
    color: #ffd700;
    /* Color de texto amarillo siempre visible */
}

.reserve-button-container-publicity .liquid-container-publicity {
    position: absolute;
    top: 0;
    left: -100%;
    /* Empieza fuera del botón a la izquierda */
    width: 200%;
    /* Asegura que cubra todo el botón */
    height: 100%;
    z-index: 0;
    /* Se mantiene detrás del texto */
    transition: all 0.5s ease;
}

.reserve-button-container-publicity:hover .liquid-container-publicity {
    left: 0;
    /* Mueve el líquido de izquierda a derecha */
    /* background-color: #ffd700; */
    background-color: #1a1a1a;

}

.reserve-button-container-publicity:hover {
    color: #ffd700;
    /* Cambia el color del borde y el texto al hacer hover */
    /* background-color: #1a1a1a; */
    background-color: #ffd700;

}



@media (max-width: 768px) {
    .rock-business-container {
        grid-template-columns: 1fr;
    }

    .right-content-container-publicity {
        height: 50vh;
    }
}

/*-----------------------------------------------------------------------------------------------------*/

