.bgTablePB{
    background-image: url('../assets/planoPB.jpg');
    background-size: 105% 113%; /* Cambia el tamaño de la imagen */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}